
#main{
  
  text-align: center;
  margin-top: 5%;
  background-color:  #C8E3F6;
 padding-bottom: 80%;
 padding-top: 5%;
}
#main #inside{
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 30%;
  padding-bottom: 30%;
  border: 1px solid black;
  background:linear-gradient(45deg,yellow, white,pink, yellow );
  border: none;
  padding-top: 5%;
  border-radius: 10px;
  box-shadow: 4px 5px 5px black;
}

h1,h6{
  background: -webkit-linear-gradient(90deg,pink, rgba(131,58,180,1) 10%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:rgba(131,58,180,1); */
}
span{
  height: 100px;
  width:100px ;
}
#timeinp{
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: xx-large;
  box-shadow: 0 0 5px black;
}
#timeinp:hover{
  background-color:#C8E3F6
}

#timedisplay{
  height: 50px;
  width: 50%;
 
 margin-left: 25%;
 text-align: center;
border-radius: 5px;
background:linear-gradient(90deg, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
color: #FFF;
box-shadow: 0 0 5px black;

 
}
h3{
  margin-top: 10%;
  margin-bottom: 0;
}
#timedisplay h5{
  font-size: x-large;
  color: #FFF;
  padding: 20px;
}